.courseProjects {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
} 

.projElement {
  border-color: var(--color);
  border-width: 2px;
  border-style: solid;
  border-radius: 10px;
  margin: 10px;
}

.projContent.active {
  display: block;
}

.projContent {
  display: none;
  padding: 30px;
}

.projButton {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  background-color: transparent;
  border-color: transparent;
  color: var(--color); 
  font-size: calc(0.75em + 1.0vmin);
  align-items: center;
  padding: 5px;
}

.cpIcon {
  transform: translate(0px, 0px);
}

.courseProjSkills {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.courseProjSkill {
    margin: 2px;
    padding: 5px;
    background-image: linear-gradient(to bottom right, var(--skillcolor1), var(--skillcolor2));
    border-radius: calc(4.0vmin);
    color: var(--top-text-color);
    font-size: calc(0.5em + 0.5vmin);
    height: calc(3.0vmin);
}
