.App {
  text-align: left;
  width: 80vw;
  margin: auto;
  margin-top: 5%;
  display: flex;
  flex-direction: column;
  scroll-behavior: smooth;
}

.pageOne {
  display: flex;
  flex-flow: row wrap;
  margin-bottom: 10vh;
  justify-content: space-evenly;
}

.heading {
  font-family: 'League Spartan', sans-serif;
  position: relative;
  font-size: 2rem;
  padding-top: 5%;
}

@keyframes fadeIn {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
  }
}