.canvasDiv {
    height: 90vh;
    width: 60vw; 
    margin-left: 5vw;
}

.element {
    width: 160px;
    height: 80px;
    font-family: Helvetica, sans-serif;
    text-align: center;
    line-height: normal;
    cursor: default;
    color: rgb(144, 185, 144);
}

.element:hover {
    box-shadow: 0px 0px 12px rgba(0,255,255,0.75);
    border: 1px solid  rgba(127,255,255,0.75);
    border-radius: 50px;
    background-color: rgb(183, 244, 255);
    color: black;
}

.element .symbol {
	position: absolute;
	top: 30px;
	left: 0px;
	right: 0px;
	font-size: 15px;
	font-weight: bold;
	color: rgba(144, 190, 156, 0.75);
	text-shadow: 0 0 10px rgba(0,255,255,0.95);
}

.element:hover .symbol {
	color: black;
}